.banner{
background-image: url("./images/bannar.jpg");
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
height: 50vh;
font-size: 50px;
color: white;
text-align: center;
text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0,0,0,0.15);
}