.team-detail{
    border-radius: 15px;
}
.team-detail p{
    font-size: 20px;
}
.icons{
    font-size: 20px;
    margin-right: 5px;
}
.social-icons{
    font-size: 60px;
    margin: 20px;
    color: #28A745;
}
.team-logo{
    width:50px;
}